/* =========================================
   RESET & GLOBAL
========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Semua gambar otomatis menyesuaikan */
img {
  max-width: 100%;
  height: auto;
}

/* Semua elemen utama */
header,
main,
section,
footer,
nav,
article,
div {
  max-width: 100%;
}

body {
  background:
    radial-gradient(circle at top, rgba(117, 8, 8, 0.25), transparent 40%),
    #090606;

  color: white;
}

/* =========================================
   VARIABLES
========================================= */

:root {
  --bg: #090606;

  --white: #ffffff;

  --gray: #b9a999;

  --maroon: #750808;

  --gold: #d4a63a;

  --champagne: #d8b68d;
}

/* =========================================
   CANVAS BACKGROUND
========================================= */

#bg {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: -2;
}

/* =========================================
   CUSTOM CURSOR
========================================= */
#cursor {
  width: 12px;

  height: 12px;

  background: white;

  border: none;

  mix-blend-mode: difference;

  transition: 0.2s;
}

.cursor-active {
  width: 70px !important;

  height: 70px !important;

  background: white;
}

.loader .loader-text {
  letter-spacing: 1px;
}

/* =========================================
   NAVBAR
========================================= */

nav {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  padding: 35px 70px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  z-index: 100;
}

.logo {
  font-size: 28px;

  font-weight: 800;

  letter-spacing: -1px;
}

nav ul {
  display: flex;

  gap: 40px;

  list-style: none;
}

nav a {
  color: rgba(255, 255, 255, 0.7);

  text-decoration: none;

  font-size: 15px;

  transition: 0.3s;
}

nav a:hover {
  color: var(--gold);
  border-radius: 30px;
  font-weight: 200;
  transition: all 0.2s ease;
}

/* =========================================
   HERO SECTION
========================================= */

.hero {
  min-height: 100vh;

  display: flex;

  flex-wrap: wrap;

  gap: 40px;

  align-items: center;

  justify-content: space-between;

  padding: 0 8%;

  position: relative;
}

/* HERO CONTENT */

.hero-content {
  max-width: 800px;
  width: min(100%, 800px);
}

.subtitle {
  color: var(--champagne);

  font-size: 14px;

  letter-spacing: 3px;

  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero h1 {
  font-size: clamp(60px, 8vw, 120px);

  line-height: 0.92;

  letter-spacing: -5px;

  font-weight: 800;
}

.desc {
  margin-top: 30px;

  max-width: 600px;

  color: var(--gray);

  font-size: 15px;

  line-height: 1.7;
}

/* =========================================
   BUTTONS
========================================= */

.hero-buttons {
  display: flex;

  gap: 20px;

  margin-top: 50px;
}

.btn {
  background: #d4a63a;

  color: #090606;
}

.btn:hover {
  box-shadow: 0 20px 50px rgba(212, 166, 58, 0.35);
}

.btn.glass {
  background: rgba(117, 8, 8, 0.18);

  color: white;

  border: 1px solid rgba(216, 182, 141, 0.25);
  backdrop-filter: blur(20px);
}

/* =========================================
   HERO VISUAL
========================================= */

.hero-image {
  position: absolute;

  right: -5%;

  width: 600px;

  height: 600px;

  display: flex;

  justify-content: center;

  align-items: center;
}

/* =========================================
   HERO LOGO LARGE
========================================= */

.hero-logo-large {
  width: clamp(300px, 30vw, 600px);

  height: auto;

  display: flex;

  justify-content: center;

  align-items: center;

  position: relative;

  animation: logoFloat 6s ease-in-out infinite;
}

/* glow belakang logo */

.hero-logo-large::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(212, 166, 58, 0.5), transparent 70%);
  z-index: -1;
}
.hero-logo-large img {
  width: 100%;

  height: 100%;

  object-fit: contain;

  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.3));
}

@keyframes logoFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* =========================================
   ANIMATION
========================================= */

@keyframes floating {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(30px);
  }
}
/* =========================================
   ABOUT SECTION
========================================= */

.about {
  min-height: 80vh;

  padding: 120px 8%;

  display: grid;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 80px;
}

.about .subtitle {
  color: var(--champagne);

  font-size: 20px;

  letter-spacing: 3px;

  text-transform: uppercase;

  margin-top: 30px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 50%;
  border-radius: 20px;
}

.info {
  text-align: center;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  backdrop-filter: blur(8px);
}

.info h2 {
  margin-bottom: 8px;
}

.info p {
  color: #999;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  z-index: 3;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.prev:hover,
.next:hover {
  background: #d4a63a;
  color: #000;
  z-index: 1;
}

/* =========================================
   FEATURES SECTION
========================================= */

.container {
  padding: 50px 8%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  justify-items: center;

  gap: 25px;
}

.card {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background: #050505;
  border: 1px solid #ccc;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

.card::before {
  content: "";

  position: absolute;

  width: 150px;

  height: 150px;

  background: rgba(212, 166, 58, 0.15);

  filter: blur(80px);

  opacity: 0;

  transition: 0.5s;
}

.card:hover {
  transform: translateY(-15px);

  border-color: rgba(255, 255, 255, 0.35);
}

.card:hover::before {
  background: var(--gold);
}

.text {
  text-align: center;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  backdrop-filter: blur(8px);
}

.text h3 {
  margin-bottom: 20px;
}

.text p {
  color: #999;
}
/* =========================================
   SHOWCASE SECTION
========================================= */

.showcase {
  padding: 150px 8%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.showcase h2 {
  color: var(--champagne);

  font-size: 14px;

  letter-spacing: 3px;

  text-transform: uppercase;

  margin-top: -20px;
}

.memory-gallery {
  padding: 50px 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* =========================================
   IMAGE REVEAL EFFECT READY
========================================= */

/* =========================================
   MASKOT SECTION
========================================= */

.maskot {
  padding: 70px 8%;
  display: flex;
  justify-content: space-between;
}

.maskot-text {
  text-align: start;

  justify-content: start;

  max-width: 600px;

  margin-top: 200px;
}

.maskot-image {
  width: 400px;
  position: absolute;
  right: 10px;
  mask-image: linear-gradient(to top, transparent 10%, black 150%, black 50%);
}

.maskot-text h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 0.4;
}

.maskot-text p {
  margin-top: 30px;

  max-width: 600px;

  color: var(--gray);

  font-size: 15px;

  line-height: 1.7;
}

/* =========================================
   CTA SECTION
========================================= */

.cta {
  min-height: 80vh;

  padding: 150px 8%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  position: relative;
}

.cta::before {
  content: "";

  position: absolute;

  width: 500px;

  height: 500px;

  background: radial-gradient(
    circle,
    rgba(91, 140, 255, 0.35),
    transparent 70%
  );

  filter: blur(80px);

  z-index: -1;
}

.cta h2 {
  max-width: 900px;

  font-size: clamp(50px, 7vw, 110px);

  line-height: 0.95;

  letter-spacing: -5px;
}

.cta p {
  margin-top: 35px;

  color: #aaa;

  font-size: 20px;
}

.cta .btn {
  margin-top: 50px;

  padding: 18px 45px;
}

/* =========================================
   FOOTER
========================================= */

footer {
  padding: 80px 8%;

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer h2 {
  font-size: 40px;

  letter-spacing: -2px;
}

footer p {
  color: #888;

  margin-top: 15px;
}

footer div:last-child {
  display: flex;

  gap: 35px;
}

/* =========================================
   RESPONSIVE LAPTOP
========================================= */

@media (max-width: 1300px) {
  nav {
    padding: 30px 50px;
  }

  .hero {
    padding: 0 6%;
  }

  .hero-image {
    width: 520px;
    height: 520px;
    right: 0;
  }

  .hero-content {
    max-width: 720px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =========================================
   RESPONSIVE TABLET
========================================= */

@media (max-width: 1100px) {
  nav {
    padding: 30px 40px;
  }

  .hero {
    padding: 0 5%;
  }

  .hero-image {
    right: 0;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =========================================
   LOADING SCREEN
========================================= */

.loader {
  position: fixed;

  inset: 0;

  background: #050505;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 99999;
}

.loader-text {
  font-size: clamp(50px, 10vw, 120px);

  font-weight: 900;

  letter-spacing: -5px;
}

/* =========================================
   NOISE EFFECT
========================================= */

.noise {
  position: fixed;

  inset: 0;

  pointer-events: none;

  z-index: 9998;

  opacity: 0.05;

  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='3'/%3E%3C/filter%3E%3Crect width='180' height='180' filter='url(%23n)'/%3E%3C/svg%3E");
}

/* =========================================
   TEXT REVEAL PREPARATION
========================================= */

.hero h1,
.about h2,
.showcase h2,
.cta h2 {
  overflow: hidden;
}
#loader.hide {
  opacity: 0;

  visibility: hidden;

  pointer-events: none;

  transition:
    opacity 1s ease,
    visibility 1s ease;
}
/* =========================================
   CINEMATIC HERO UPGRADE
========================================= */

.hero-title span:first-child {
  display: block;

  background: linear-gradient(0deg, #ffffff 30%, #d4a63a, #750808);
  background-clip: text;

  -webkit-background-clip: text;
  opacity: 0;
  color: transparent;
  filter: blur(20px);

  transform: translateY(100px);
}

/* gradient text */

.hero-title .highlight {
  display: block;
  font-size: clamp(40px, 8vw, 69px);
  background: linear-gradient(90deg, #ffffff, #d4a63a, #750808);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientMove 8s infinite linear;
}

@keyframes gradientMove {
  from {
    background-position: 0%;
  }

  to {
    background-position: 300%;
  }
}

/* mouse glow */

.hero::before {
  content: "";

  position: absolute;

  width: 500px;

  height: 500px;

  background: radial-gradient(
    circle,
    rgba(91, 140, 255, 0.25),
    transparent 70%
  );

  left: var(--mouse-x);

  top: var(--mouse-y);

  transform: translate(-50%, -50%);

  pointer-events: none;

  transition: 0.2s;
}
/* =========================================
   MEMORY GALLERY
========================================= */

.memory-card {
  min-height: 500px;
  height: 100%;

  position: relative;

  overflow: hidden;

  border-radius: 35px;

  background: #111;

  transform-style: preserve-3d;

  perspective: 1000px;
}

.memory-card img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  transition: transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.memory-card::after {
  content: "";

  position: absolute;

  inset: 0;

  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.memory-card:hover img {
  transform: scale(1.15);
}

.memory-info {
  position: absolute;

  bottom: 50px;

  left: 60px;

  z-index: 2;

  transform: translateY(40px);

  opacity: 0;

  transition: 0.6s;
}

.memory-card:hover .memory-info {
  transform: translateY(0);

  opacity: 1;
}

.memory-info h3 {
  font-size: 30px;

  letter-spacing: -1px;
}

.memory-info p {
  color: #bbb;

  margin-top: 10px;
}

/* 3D TILT */

.memory-card {
  transition: transform 0.3s ease;
}
#bg {
  filter: blur(0px);
}

.hero {
  overflow: hidden;
}
/* =========================================
   SCROLL PROGRESS
========================================= */

.scroll-progress {
  position: fixed;

  top: 0;

  left: 0;

  height: 3px;

  width: 0%;

  background: linear-gradient(90deg, #750808, #d4a63a);

  z-index: 99999;
}
/* =========================================
 IMAGE REVEAL
========================================= */

.memory-card,
section {
  position: relative;
}

section::before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 1px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );

  opacity: 0.3;
}
body {
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}
.card:hover,
.memory-card:hover {
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.5);
}
@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  nav {
    padding: 25px;
  }

  nav ul {
    display: none;
  }

  .hero {
    min-height: 100vh;

    display: block;

    padding: 180px 25px 80px;
  }

  .hero h1 {
    letter-spacing: -3px;
  }

  .desc {
    margin-top: 30px;

    max-width: 600px;

    color: var(--gray);

    font-size: 11px;

    line-height: 1.7;
  }

  .hero-buttons {
    flex-direction: column;

    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .about {
    padding: 80px 25px;

    grid-template-columns: 1fr;

    gap: 40px;
  }

  .about .right p {
    font-size: 18px;
  }

  .card {
    min-height: 250px;
  }

  .showcase {
    padding: 80px 25px;
  }

  .showcase > h2 {
    color: var(--champagne);

    font-size: 14px;

    letter-spacing: 3px;

    text-transform: uppercase;

    margin-top: -20px;
  }

  .memory-info h3 {
    font-size: 20px;

    letter-spacing: -1px;
  }

  .maskot {
    padding: 70px 8%;
    display: flex;
    justify-content: space-between;
  }

  .maskot-text {
    text-align: start;

    max-width: 600px;

    margin-top: 350px;
  }

  .maskot-image {
    width: 400px;
    position: absolute;
    right: 10px;
    mask-image: linear-gradient(to top, transparent 10%, black 150%, black 50%);
  }

  .maskot-text h2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 0.4;
  }

  .maskot-text p {
    margin-top: 30px;

    max-width: 600px;

    color: var(--gray);

    font-size: 11px;

    line-height: 1.7;
  }
  .cta {
    padding: 100px 25px;
  }

  .cta .subtitle {
    color: var(--champagne);

    font-size: 14px;

    letter-spacing: 3px;

    text-transform: uppercase;

    margin-bottom: 30px;
  }

  .cta h2 {
    letter-spacing: -3px;
  }

  footer {
    padding: 60px 25px;

    flex-direction: column;

    gap: 40px;
  }

  footer div:last-child {
    flex-direction: column;

    gap: 15px;
  }
  .hero-content {
    margin-top: 150px;
  }

  .hero-title span {
    font-size: 50px;
  }

  .hero .hero-title span:first-child {
    display: block;
    font-size: clamp(50px, 8vw, 69px);
    background: linear-gradient(0deg, #ffffff 30%, #d4a63a, #750808);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 8s infinite linear;
  }

  .hero-title .highlight {
    font-size: 30px;
    line-height: 1.3;
  }

  .hero-title .p {
    font-size: 10px;
    line-height: 1.2;
  }

  .hero-image {
    position: absolute;
    top: -90px;
    right: 90px;
    width: 230px;
    animation: logoFloat 6s ease-in-out infinite;
  }

  @keyframes logoFloat {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0);
    }
  }
  .memory-gallery {
    padding: 50px 1%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.left {
  letter-spacing: 2px;
}

/* Desktop / Laptop */
body {
  font-size: 16px;
}

/* Tablet */
@media (max-width: 1023px) {
  body {
    font-size: 15px;
  }
}
